{% for vhost in apache_vhosts %}​
<VirtualHost {{ vhost.ip_address }}:{{ vhost.port }}>​
  ServerName {{ vhost.servername }}
  DocumentRoot {{ vhost.documentroot }}
​  ServerAdmin ​{{ vhost.serveradmin }}​
  <Directory {{ vhost.directorypath }}​>
     AllowOverride All​
     Options Indexes FollowSymLinks​
     Order allow,deny​
     Allow from all​
  </Directory>​
</VirtualHost>​
{% endfor %}
​